<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Síguenos en:</p>
      <!-- Enlaces a redes sociales -->
      <a href="#" class="text-white mx-2"
        ><i class="fab fa-facebook-f fa-2x"></i
      ></a>
      <a href="#" class="text-white mx-2"
        ><i class="fab fa-github fa-2x"></i
      ></a>
      <a href="#" class="text-white mx-2"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
      <a href="#" class="text-white mx-2"
        ><i class="fab fa-youtube fa-2x"></i
      ></a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <!-- Derechos de autor -->
      <p>&copy; 2023 | Emerson Espinoza. Todos los derechos reservados.</p>
    </div>
  </div>
</div>
