<div class="container-fluid">
  <a class="navbar-brand text-primary" href="/">Conversor de Monedas</a>
  <p class="">Última actualización: {{ data.time_last_update_utc }}</p>

  <!-- Precio del dólar a CLP -->
  <p class="">CLP: {{ precio_dolar_clp }}</p>

  <!-- Precio del dólar a PEN -->
  <p class="">PEN: {{ precio_dolar_pen }}</p>

  <!-- Botones para las rutas -->
  <a href="/datos-exchange" class="navbar-brand text-success mr-2">Todas las monedas</a>
  <a href="/comparacion" class="navbar-brand text-warning mr-2">Comparación Histórica</a>


</div>